{% extends 'base.html' %}
{% load static  %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block body %}
<div class="py-5 my-5 bg-light">
	<article class="card-body mx-auto col-md-6 col-lg-4 col-sm-12">
		<h4 class="card-title mb-3 text-center">Signin with your Account</h4>
		{% if error %}
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			{{error}}
			<!-- <button class="btn btn-danger" type="button" class="btn-close" data-dismiss="alert" aria-label="Close"> 
				<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
					<path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
				  </svg>
			</button> -->
		  </div>
		  {% endif %}
		<form action="{% url 'login' %}" method="POST">
			{% csrf_token %}
			<div class="form-group input-group mb-3">
				<input name="username" class="form-control  controll shadow-sm bg-white border-0 rounded-pill p-3" placeholder="Username" type="text">
			</div> <!-- form-group// -->
			<div class="form-group input-group mb-3">
				<input class="form-control  controll shadow-sm bg-white border-0 rounded-pill p-3" placeholder="Password" type="password" name="password">
			</div> <!-- form-group// -->
			<a href="#" class=" my-3 mr-4">Forget Password ?</a>
			<a href="{% url 'reset_password' %}" class=" my-3 ml-4">Reset Password ?</a>
			<div class="form-group my-2">
				<button type="submit" class="btn btn-danger btn-block no-border2"> Login </button>
			</div> <!-- form-group// -->
			<p class="text-center">Have an account? <a href="{% url 'register' %}">Register</a> </p>
		</form>
	</article>
</div>
{% endblock %}