{% extends 'base.html' %}
{% load static  %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block body %}
<div class="py-5 my-5 bg-light">
	<article class="card-body mx-auto col-md-6 col-lg-4 col-sm-12">
		<h4 class="card-title mb-3 text-center">Signin with your Account</h4>
		<form action="{% url 'login' %}" method="POST">
			{% csrf_token %}
			<div class="form-group input-group mb-3">
				<input name="username" class="form-control  controll shadow-sm bg-white border-0 rounded-pill p-3" placeholder="Username" type="text">
			</div> <!-- form-group// -->
			<div class="form-group input-group mb-3">
				<input class="form-control  controll shadow-sm bg-white border-0 rounded-pill p-3" placeholder="Password" type="password" name="password">
			</div> <!-- form-group// -->
			<a href="#" class=" my-3 mr-4">Forget Password ?</a>
			<a href="{% url 'reset_password' %}" class=" my-3 ml-4">Reset Password ?</a>
			<div class="form-group my-2">
				<button type="submit" class="btn btn-danger btn-block no-border2"> Login </button>
			</div> <!-- form-group// -->
			<p class="text-center">Have an account? <a href="{% url 'register' %}">Register</a> </p>
		</form>
	</article>
</div>
{% endblock %}