{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projects Management | Home</title>
  <!--Bootstrap CSS file-->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'site.webmanifest' %}">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-mine">
    <div class="container-md">
      {% if request.user.is_authenticated %}
      <a href="{% url 'index' %}" class="link"><img src="{% static 'images/home.png' %}" alt="home icon"></a>
      <a href="#" class="text-light btn">{{request.user.username}}</a>
      <a href="{% url 'logout' %}" class="text-dark btn btn-sm btn-light">Logout</a>
      {% else %}
      <a href="{% url 'index' %}" class="navbar-brand text-light font-weight-bold">Project management</a>
      <a href="{% url 'login' %}" class="text-dark btn btn-sm btn-light">Login</a>
      {% endif %}
      <a href="#" class="link toggle"><i class="fa fa-bars"></i></a>
    </div>
  </nav>
  <div class="list">
    <a href="{% url 'index' %}" class="list-item">
      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-house-door mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z"/>
        <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
      </svg>
      Home
    </a>
    <a href="{% url 'add_project' %}" class="list-item">
      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-cash-stack mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M14 3H1a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1h-1z"/>
        <path fill-rule="evenodd" d="M15 5H1v8h14V5zM1 4a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H1z"/>
        <path d="M13 5a2 2 0 0 0 2 2V5h-2zM3 5a2 2 0 0 1-2 2V5h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 13a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
      </svg>
      Projects
    </a>
    <a href="{% url 'overview' %}" class="list-item">
      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-bar-chart-line mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z"/>
      </svg>
      Reports
    </a>
    <a href="{% url 'settings' %}" class="list-item">
      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-sliders mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"/>
      </svg>
      Settings
    </a>
    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}" class="list-item">
      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-wallet mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M0 3a2 2 0 0 1 2-2h13.5a.5.5 0 0 1 0 1H15v2a1 1 0 0 1 1 1v8.5a1.5 1.5 0 0 1-1.5 1.5h-12A2.5 2.5 0 0 1 0 12.5V3zm1 1.732V12.5A1.5 1.5 0 0 0 2.5 14h12a.5.5 0 0 0 .5-.5V5H2a1.99 1.99 0 0 1-1-.268zM1 3a1 1 0 0 0 1 1h12V2H2a1 1 0 0 0-1 1z"/>
      </svg>
      Logout
    </a>
    {% else %}
    <a href="{% url 'login' %}" class="list-item">
      <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-wallet mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M0 3a2 2 0 0 1 2-2h13.5a.5.5 0 0 1 0 1H15v2a1 1 0 0 1 1 1v8.5a1.5 1.5 0 0 1-1.5 1.5h-12A2.5 2.5 0 0 1 0 12.5V3zm1 1.732V12.5A1.5 1.5 0 0 0 2.5 14h12a.5.5 0 0 0 .5-.5V5H2a1.99 1.99 0 0 1-1-.268zM1 3a1 1 0 0 0 1 1h12V2H2a1 1 0 0 0-1 1z"/>
      </svg>
      Login / Register
    </a>
    {% endif %}
  </div>
  {% block body %}
  {% endblock %}
  <div class="py-2"></div>
  <!--Bootstrap Js file-->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
  {% block js %}
  {% endblock %}
</body>

</html>