{% extends 'base.html' %}
{% block body %}

<div class="container mt-5 pt-4">
    <div class="row row-cols-1 row-cols-sm-3 mb-2">
      <div class="col"></div>
      <div class="col">
        <div class="row row-cols-2 bg-light py-2 font-weight-bold ">
            <div class="col text-left">
                <a href="{{back_page}}" class="btn">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5.5a.5.5 0 0 0 0-1H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5z"/>
                    </svg>
                </a>
            </div>
            <div class="col text-right py-2">
                <strong>Edit Report</strong>
            </div>
        </div>
    </div>
      <div class="col"></div>
    </div>
    <div class="row row-cols-1 row-cols-md-1">
        <div class="col">
            <form action="{% url 'update_report' report.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="topic" class="form-label">Topic</label>
                        <input type="text" class="form-control" id="topic" name="topic" value="{{report.topic}}">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea type="text" class="form-control" id="description" name="description">{{report.description}}</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="moneytype" class="form-label">Money Type</label>
                        <select name="moneytype" id="moneytype">
                            <option value="Incoming" {% if report.money_choice == 'Incoming' %}selected{% endif %}>
                                Income
                            </option>
                            <option value="Outgoing" {% if report.money_choice == 'Outgoing' %}selected{% endif %}>
                                Expenditure
                            </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="form-label">Amount</label>
                        <input type="text" name="amount" class="form-control" id="amount" value="{{report.amount}}">
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-success btn-block" value="Update"></button>
                </div>
            </form>
        </div>
    </div>
  </div>

{% endblock %}