{% extends 'base.html' %}
{% block body %}

<div class="container mt-5 pt-4">
    <div class="row row-cols-1 row-cols-sm-3 mb-2">
        <div class="col"></div>
        <div class="col">
            <div class="row row-cols-2 bg-light py-2 font-weight-bold ">
                <div class="col text-left">
                    <a href="{{back_page}}" class="btn">
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5.5a.5.5 0 0 0 0-1H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5z"/>
                        </svg>
                    </a>
                </div>
                <div class="col text-right py-2">
                    <div class="text-center">
                        <strong>{{report.topic}}</strong>
                    </div> 
                </div>
            </div>
        </div>
        <div class="col"></div>
      </div>
    <div class="row row-cols-1 row-cols-md-1">
        <div class="p-3">
            <div class="cont p-1 myshad rounded text-center">
              <br>
              {% for fl in report.getFiles %}
                <a class="btn btn-success no-border2" href="{{fl.file.url}}" target="_blank">{{fl.file}}</a>
                <br>
              {% endfor %}
              <b>{{report.topic}}</b>
              <p>
                  {{report.description}}
              </p>
              <p>
                <span class="badge {% if report.money_choice == 'Incoming' %} bg-success {% else %} bg-danger {% endif %}">{{report.money_choice}}</span>
                <span class="badge bg-success">{{report.money_method}}</span>
                <span class="badge bg-light text-dark">Rs.{{report.amount}}</span>
            </p>
              <p>
                <span class="badge bg-success">Submitted By : {{report.user}}</span>
              </p>
            </div>
        </div>
    </div>
  </div>

{% endblock %}